[Unit]
Description=webOS telephony daemon
Requires=ls-hubd.service
After=ls-hubd.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/webos-telephonyd

[Install]
WantedBy=multi-user.target
